body {
    max-width: 1800px;
    min-width: 320px;
    margin: auto;
    margin-left: 3em;
    margin-right: 3em;
    font-family: futura-pt, sans-serif;
    text-align: center;
    background-color: #d1d1d4;
}

h1 {
    font-size: 44pt;
    font-weight: 700;
    margin-top: 1.5em;
}
h2 {
    font-size: 18pt;
    font-weight: 400;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    background-color: #d4b3b3c4;
    padding: 15px 20px 15px 20px;
}

h3 {
    font-size: 30pt;
    font-weight: 500;
    text-align: center;
    border-style: dotted;
    border-radius: 15px;
    
}

section {
    text-align: center;
}

@media (min-width: 810px) {
    .ingredients.side {
        width: 40%;
        padding-right: 25px;
    }
    .steps.side {
        width: 50%;
        padding-left: 25px;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
    }
    section {
        margin-left: 3em;
        margin-right: 3em;
    }
}

@media (max-width: 810px) {
    body {
        justify-content: center;
        margin-left: 1em;
        margin-right: 1em;
    }
    section {
        margin-left: 1em;
        margin-right: 1em;
    }
    .side {
        width: 90%;
        justify-content: center;
        padding-left: 20px;
    }
    .ingredients.side {
        padding-left: 40px;
    }

    h2 {
        margin-left: 1em;
        margin-right: 1em;
    }

    ul > li {
        font-size: 9pt;
        margin-top: 0;
    }
}


.grid {
    list-style: none;
    padding-left: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
}

ul > li {
    font-size: 18pt;
    line-height: 24pt;
    margin-top: 0.5em;
}

li {
    font-weight: 400;
    text-align: left;
    line-height: 2em;
}

ol li {
    line-height: 1.5em;
    margin-top: 0.5em;
    font-size: 13pt;
}


h5 {
    font-size: 12pt;
    font-weight: 300;
    background-color: #d4b3b3e1;
    padding: 10px 10px 10px 10px;
}

.pic {
    width: 70%;
    height: 70%;
    object-fit: cover;
}